body {
  background: lightsteelblue;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > .card-container {
  background-color: lightgray;
  width: 20%;
  margin: 10px;
  /* text-align: center;
  line-height: 75px; */
  /* font-size: 30px; */
}

.card-container {
  /* height: 55vh; */
  height: 300px;
  overflow: scroll;
}
.card-image {
  /* height: 250px; */
  overflow: scroll;
}

img {
  /* height: 90%; */
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* for devices  */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
